.navbar {
  background-color: var(--purple-black);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 7vh;
  padding: 3rem 0rem;
}
.navbar__navbrand {
  color: var(--purple);
  cursor: pointer;
}
.navbar__navlinks-list {
  list-style: none;
  display: flex;
  color: var(--dark-slate);
  align-items: center;
}
.navbar__navlinks-list-item {
  margin: 0 1rem;
  font-size: 0.9rem;
  cursor: pointer;
  font-weight: 600;
}
.navbar__navlinks-list-item:hover {
  color: var(--purple);
  transition: color 0.2s ease-in;
}
.navbar__navlinks-list-item > span {
  color: var(--purple);
  margin: 0 0.4rem;
}
.navbar__navlinks-list-item:last-child {
  color: var(--purple);
  border-radius: 3px;
  border: 1px solid var(--purple);
  padding: 0.5rem 0.8rem;
  display: flex;
  align-items: center;
  background-color: var(--glass-purple);
}
/* break points  */
@media only screen and (max-width: 768px) {
  .navbar__navlinks-list {
    display: none;
  }
}
